<h1>Scores:</h1>

<table>
    <% for (var i in scores) { %>
        
        <tr>
            <td>
                <%= scores[i].name %></a>
            </td>
            <td>
                <%= scores[i].score %></a>
            </td>
        </tr>
    <% } %>
</table>